<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
      <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\grocertogo.mdb;Persist Security Info=True"
          providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>